.EsqSupIzq
{
	background-image:url(Imagenes/Marcos/Esq_Sup_Izq.gif);
	/*background-repeat:no-repeat;*/
	width:15px;
	height:35px;
}
.EsqSupDer
{
	background-image:url(Imagenes/Marcos/Esq_Sup_Der.gif);
	/*background-repeat:no-repeat;*/
	width:18px;
	height:35px;
}
.RepSup
{
	background-image:url(Imagenes/Marcos/Rep_Sup.gif);
	text-align:center;
}
.RepLatIzq
{
	background-image:url(Imagenes/Marcos/Rep_Lat_Izq.gif);
}
.RepLatDer
{
	background-image:url(Imagenes/Marcos/Rep_Lat_Der.gif);
}
.EsqInfIzq
{
	background-image:url(Imagenes/Marcos/Esq_Inf_Izq.gif);
	width:15px;
}
.RepInf
{
	background-image:url(Imagenes/Marcos/Rep_Inf.gif);
	height:18px;
}
.EsqInfDer
{
	background-image:url(Imagenes/Marcos/Esq_Inf_Der.gif);
	width:18px;
}
.Logon
{
	background-image:url(Imagenes/Marcos/Login2.gif);
	width:305px;
	height:155px;
	background-repeat: no-repeat;
}
.fondot
{
	background-color:#EFEFEF;
}