    .clsCMOn {
PADDING-LEFT: 2px; 
PADDING-TOP: 2px; 
FONT-SIZE: 9px; 
font-family:Arial, Tahoma, Verdana;
COLOR: black; 
TEXT-DECORATION: none}

.clsCMOver {
PADDING-LEFT: 2px; 
PADDING-TOP: 2px; 
FONT-SIZE: 9px; 
font-family:Arial, Tahoma, Verdana;
COLOR: black; 
TEXT-DECORATION: none}


.menubody {
	font-family:Arial, Helvetica, sans-serif;
	/* START Editable */
	color:#000000;
	background-color: #E0DFE3;
	/* END Editable*/
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	cursor:default;
	background-image: none;
}
