/******************** Eventos del Teb ***************************/
 .ajax__tab_header {font-family:verdana,tahoma,helvetica;font-size:11px;background:url("Tabs/tab-line.gif") repeat-x bottom;}
 .ajax__tab_outer {padding-right:0px;background:url("Tabs/tab-right.gif") no-repeat right;height:21px;}
 .ajax__tab_inner {padding-left:3px;background:url("Tabs/tab-left.gif") no-repeat;}
 .ajax__tab_tab {height:13px;padding:4px;margin:0;background:url("Tabs/tab.gif") repeat-x;}


.ajax__tab_hover .ajax__tab_outer 
{
	background:url("Tabs/tab-hover-right.gif") no-repeat right;
}
.ajax__tab_hover .ajax__tab_inner 
{
	background:url("Tabs/tab-hover-left.gif") no-repeat;
}
.ajax__tab_hover .ajax__tab_tab 
{
	background:url("Tabs/tab-hover.gif") repeat-x;
}
.ajax__tab_active .ajax__tab_outer 
{
	background:url("Tabs/tab-active-right.gif") no-repeat right;
}
.ajax__tab_active .ajax__tab_inner 
{
	background:url("Tabs/tab-active-left.gif") no-repeat;
}
.ajax__tab_active .ajax__tab_tab 
{
	background:url("Tabs/tab-active.gif") repeat-x;
}

 .ajax__tab_body {font-family:verdana,tahoma,helvetica;font-size:10pt;border:1px solid #999999;border-top:0;padding:8px;background-color:#ffffff;}
.ajax__scroll_horiz {overflow-x:scroll;}
.ajax__scroll_vert {overflow-y:scroll;}
.ajax__scroll_both {overflow:scroll}
.ajax__scroll_auto {overflow:auto}
.ajax__tab_default .ajax__tab_header {white-space:nowrap;}
.ajax__tab_default .ajax__tab_outer {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_inner {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_tab {margin-right:4px;overflow:hidden;text-align:center;cursor:pointer;display:-moz-inline-box;display:inline-block}
/******************** fin *************************/