<%@ Page Language="C#" MasterPageFile="~/MasterPages/LoginMaster.Master" AutoEventWireup="true" CodeBehind="20Abril2010.aspx.cs" Inherits="EstadisticasEducativas.Seguridad._0Abril2010" Title="Untitled Page" %>

<%@ Register Src="../Controles/CCTParaUsuario.ascx" TagName="CCTParaUsuario" TagPrefix="uc2" %>

<%@ Register Src="../Controles/FiltraCCTporZona.ascx" TagName="FiltraCCTporZona"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    &nbsp;<uc2:CCTParaUsuario ID="CCTParaUsuario1" runat="server" />
</asp:Content>
