<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="testMembeship.aspx.cs" Inherits="EstadisticasEducativas.Seguridad.testMembeship" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    usuario
        <asp:TextBox ID="txtUsuario" runat="server"></asp:TextBox> 
    contraseņa
        <asp:TextBox ID="txtContra" runat="server"></asp:TextBox>
        <br />
        <asp:Button ID="btntest" runat="server" Text="Test" OnClick="btntest_Click" />
    </div>
    </form>
</body>
</html>
