<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MainPopup.master.cs" Inherits="SERaiz.MasterPages.MainPopup" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
 <link  href="~\App_Themes\SEP2010\Imagenes\Fondo\favicon.ico" rel="shortcut icon"/>
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblCCTSeleccionado" runat="server" Text="Label"></asp:Label>
        <cc1:ToolkitScriptManager ID="srmMainManager" runat="server" EnablePartialRendering="true">
            
        </cc1:ToolkitScriptManager>
        <asp:ContentPlaceHolder ID="cphMainMaster" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
