<%@ Master Language="C#" AutoEventWireup="True" Codebehind="DesignPopup.master.cs"
    Inherits="EstadisticasEducativas.MasterPages.DesignPopup" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">

    <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5275068-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type =
        'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
        'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
          })();

    </script>

    <link href="../tema/css/portalNL.css" rel="stylesheet" type="text/css" />
    <link href="../tema/css/balloontip.css" rel="stylesheet" type="text/css" />
    <link href="../tema/css/menu.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../../tema/js/StyleMenu.js">
    </script>

    <script type="text/javascript" src="../../../tema/js/balloontip.js"></script>

    <script language="javascript" type="text/javascript" src="../../../tema/js/Codigo911.js"></script>

    <script language="javascript" type="text/javascript" src="../../../tema/js/ArrowsHandler.js"></script>

    <script language="javascript" type="text/javascript" src="../../../tema/js/Colores.js"></script>

    <style type="text/css">
       
       .Bordes1{
         border-right: #990066 1px solid; border-top: #990066 1px solid; border-left: #990066 1px solid; border-bottom: #990066 1px solid;
         background-color: olive;
       }
       .Bordes2{
         border-right: #990066 1px solid; border-top: #990066 1px solid; border-left: #990066 1px solid; border-bottom: #990066 1px solid;
         background-color: #777777;
       }
    </style>
    <style type="text/css">
    .linaBajo{
       text-align: center; 
       width: 110px; 
       border-bottom:solid 1px;
       border-left:solid 1px;
    }
    .linaBajoAlto{
       text-align: center; 
       width: 110px; 
       border-bottom:solid 1px;
       border-top:solid 1px;
       border-left:solid 1px;
    }
    .Orila{
       border-left:solid 1px;
    }
    </style>
    <link href="~\App_Themes\SEP2010\Imagenes\Fondo\favicon.ico" rel="shortcut icon" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="cphMainMaster" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
