<%@ Master Language="C#" AutoEventWireup="True" Codebehind="MainBasic.master.cs" 
    Inherits="SERaiz.MasterPages.MainBasic" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    Namespace="System.Web.UI" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <script language="javascript" type="text/javascript"  src="../tema/js/Colores.js"></script>
    <title>Secretar&iacuote;a de Eduaci&oacutoe;n</title>
    <style type="text/css">.IE8Fix{z-index: 100;}</style>
    <link href="~\App_Themes\SEP2010\Imagenes\Fondo\favicon.ico" rel="shortcut icon" />


</head>
<body  style="margin-top: 0px; margin-bottom: 0px; margin-left: 0px;
    margin-right: 0px">
    <form id="form1" runat="server">
        <cc1:ToolkitScriptManager ID="srmMainManager" runat="server" EnablePartialRendering="true">
            <Scripts>
               <%-- <asp:ScriptReference Assembly="SERaiz" Name="SERaiz.tema.js.sep01.js" NotifyScriptLoaded="False" />
                <asp:ScriptReference Assembly="SERaiz" Name="SERaiz.tema.js.sep02.js" NotifyScriptLoaded="False" />
                <asp:ScriptReference Assembly="SERaiz" Name="SERaiz.tema.js.sep03.js" NotifyScriptLoaded="False" />
                <asp:ScriptReference Assembly="SERaiz" Name="SERaiz.tema.js.Colores.js" />
                <asp:ScriptReference Assembly="SERaiz" Name="SERaiz.tema.js.DD_belatedPNG_0.0.8a-min.js" NotifyScriptLoaded="False" />--%>
            </Scripts>
        </cc1:ToolkitScriptManager>
        <!--[if IE 6]>
         <script>
                    DD_belatedPNG.fix('.png'); //EXAMPLE
                    
                </script>
                <![endif]-->
        <center>
            <table cellpadding="0" cellspacing="0" style="width: 800px; height: 100%" id="TABLE1">
                <tr>
                    <td style="width: 100%;">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" style="white-space: nowrap; width: 100%;">
                                    <%--<asp:Image ID="imgHeadLgNl" runat="server" AlternateText="Logo" SkinID="imgNatiLogo" />--%>
                                    &nbsp;<asp:AdRotator ID="imgBaners" runat="server" SkinID="imgBaners" />
                                    <%--<asp:Image ID="imgSeLogo" runat="server" AlternateText="SE Logo" SkinID="imgSELogo" />--%>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <center>
                            <asp:ContentPlaceHolder ID="cphMainMaster" runat="server">
                            </asp:ContentPlaceHolder>
                        </center>
                        
                    </td>
                </tr>
                <tr>
                    <td style="width: 200%; height: 100px">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;color:Gray;font-size:10px;font-weight:bold;">
                        <asp:Label ID="lblAssembly" runat="server"></asp:Label>
                    </td>
                </tr>
                <tr>
                <a href="http://www.sep.gob.mx"> 
                    <td style="height:90px;" class="imgfooter">
                        <div id="int_footer" style="width:90%"  >
                              </div>
                    </td>
                    </a>
                </tr>
            </table>
        </center>
    </form>
</body>
</html>