.tabla_over
{
	filter: Alpha(Opacity=100);
	opacity:1;
	border-bottom:solid 1px #000000;
	border-left:solid 1px #000000;
	border-right:solid 1px #000000;
	border-top:solid 1px #000000;
	cursor: pointer;
}
.tabla_out
{
	filter: Alpha(Opacity=60, FinishOpacity=10, Style=4);
	opacity:0.6;
	border-bottom:solid 1px #FFFFFF;
	border-left:solid 1px #FFFFFF;
	border-right:solid 1px #FFFFFF;
	border-top:solid 1px #FFFFFF;
}
.tabla_default
{
	z-index:1;
	filter: Alpha(Opacity=60, FinishOpacity=10, Style=4);
	opacity:0.6;
	border-bottom:solid 1px #FFFFFF;
	border-left:solid 1px #FFFFFF;
	border-right:solid 1px #FFFFFF;
	border-top:solid 1px #FFFFFF;
}
.menu_sistema
{

}