/*********************************************************/
.Menu
{
	z-index: 1;
	background-image:url(Imagenes/Fondo/Menu_img.jpg);
	Height:47px;  
	text-align:center;
}
.menu_hover
{	
	z-index: 1;
	background-image:url(Imagenes/Fondo/Menu_Hover_img.jpg);
	Height:42px;  
	Width:100px;
	text-align: center;
}
.Menu_dinamic
{
	z-index: 1;
	background-image:url(Imagenes/Fondo/menu_dinamic.jpg);
	text-align:left;
	font-size:10px;
}
.menu_hover_dinamic
{	
	z-index: 1;
	color: #F7F7F7;
	background-image:url(Imagenes/Fondo/menu_hover_dinamic.jpg);	
	text-align:left;
}
/**********************************************************/
/************************ link menu ***********************/
.Menu a:link
{
	z-index: 1;
	color:#FFFFFF;
	text-decoration:none;
}
.Menu a:hover
{
	z-index: 1;
	color:#FFFFFF;
	text-decoration:none;
}
.Menu a:visited
{ 
	z-index: 1;
	color:#FFFF90;
	text-decoration:none;
}
.Menu a:active
{
	z-index: 1;
	color:#FFFF90;
	text-decoration:none;
}
/**********************************************************/
.Menu_dinamic a:link
{
	z-index: 1;
	color:#000000;
	text-decoration:none;
}
.Menu_dinamic a:hover
{
	z-index: 1;
	color:#000000;
	text-decoration:none;
}
.Menu_dinamic a:visited
{
	z-index: 1;
	color:#000000;
	text-decoration:none;
}
.Menu_dinamic a:active
{
	z-index: 1;
	color:#000000;
	text-decoration:none;
}
/*************************************************************/
.menu_hover_dinamic a:link
{
	z-index: 1;
	color:#FCFCFC;
	text-decoration:none;
}
.menu_hover_dinamic a:hover
{
	z-index: 1;
	color:#FCFCFC;
	text-decoration:none;
}
.menu_hover_dinamic a:visited
{
	z-index: 1;
	color:#FCFCFC;
	text-decoration:none;
}
.menu_hover_dinamic a:active
{
	z-index: 1;
	color:#FCFCFC;
	text-decoration:none;
}
.exp_8
{
	z-index: 50;
}