/*------------------------------------------------------------------------
# NUEVO LE?N
# ------------------------------------------------------------------------
# Gobierno del Estado de Nuevo Le?n 2003 - 2009
# P?gina:http://www.nl.gob.mx/
-------------------------------------------------------------------------*/

body {/*text-align:center;*/}

/* ACCESIBILIDAD
-------------------------------------------------------------------------*/
ul#accesibilidad {display:none;}

/* HEADINGS
-------------------------------------------------------------------------*/

#margen {width:82.5em; margin:0 auto; text-align:left;}

/* BARRA
-------------------------------------------------------------------------*/
#nl-barra {background-color:#333333; color:#FFFFFF;}
	
	#clima, #barra, #lenguaje {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:0.83em; text-transform:uppercase; height:25px;}

	#clima {width:42%; float:left; margin-left:0.92em; text-align:left;}
	#clima a {color: #FFFFFF; background-color: #333333; text-decoration: none;}
	#clima a:hover {text-decoration: underline;}

		#clima div.clima {margin-top:0.17em;}
		#clima div.ico {margin-top:0; margin-left:0.92em;}
		#clima div.temp {margin-top:0.17em; margin-left:0.92em;}
		#calidad-aire {width: 11em; margin: 0.17em 0 0 2.25em; float: left;}

	#barra {width:38%; float:left;}
	#lenguaje {width:17%; float:right;}

	ul.barra-links	{list-style-type:none;}	
	ul.barra-links li {float:left; margin:0.17em 1.2em 0 0;}
	ul.barra-links li a {text-decoration:none; color:#FFFFFF; background-color:#333333;}
	ul.barra-links li a:link {text-decoration:none; }
	ul.barra-links li a:active {text-decoration:none; }
	ul.barra-links li a:hover {text-decoration:underline !important;}

/* NAVEGACION */
#nl-logo {position:relative; left:1.08em; top:0.92em; float:left;}
#navegacion	{position:relative; right:1.08em; top:4.17em; float:right; height:25px; width:861px; background:url(/imagenes/portal/menu_back.gif) top left no-repeat; font-family:Verdana, Arial, Helvetica, sans-serif;}
	#navegacion ul.menu {list-style-type:none;}
	#navegacion ul.menu li {float:left; margin:0 0.92em;}
	#navegacion ul.menu li a {text-decoration:none; color:#FF00FF; background-color:#0000FF; font-weight:bold; font-size:0.92em;}
	#navegacion ul.menu li a:link {text-decoration:none;}
	#navegacion ul.menu li a:active {text-decoration:none;}
	#navegacion ul.menu li a:hover {text-decoration:underline;}


/* COLUMNAS
-------------------------------------------------------------------------*/
.col20 {width:19%;}
.col25 {width:24%;}
.col30 {width:29%;}
.col35 {width:34%;}
.col40 {width:39%;}
.col45 {width:44%;}
.col49 {width:48%;}
.col50 {width:49%;}
.col51 {width:50%;}
.col55 {width:54%;}
.col60 {width:59%;}
.col65 {width:64%;}
.col70 {width:69%;}
.col75 {width:74%;}
.col80 {width:79%;}

/* COLUMNAS PX 
-------------------------------------------------------------------------*/
.column1 {width: 40px;}
.column2 {width: 90px;}
.column3 {width: 140px;}
.column4 {width: 190px;}
.column5 {width: 240px;}
.column6 {width: 290px;}
.column7 {width: 340px;}
.column8 {width: 390px;}
.column9 {width: 440px;}
.column10 {width: 490px;}
.column11 {width: 540px;}
.column12 {width: 590px;}
.column13 {width: 640px;}
.column14 {width: 690px;}
.column15 {width: 740px;}
.column16 {width: 790px;}
.column17 {width: 840px;}
.column18 {width: 890px;}
.column19 {width: 940px;}
.column20 {width: 990px;}

.column1, 
.column2,
.column3,
.column4,
.column5,
.column6,
.column7,
.column8,
.column9,
.column10,
.column11,
.column12,
.column13,
.column14,
.column15,
.column16,
.column17,
.column18,
.column19
{margin-right: 10px; text-align: left;}

.last {margin-right: 0px !important;}


/* PIE DE P?GINA
-------------------------------------------------------------------------*/
#nl-pie {position: relative; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC; font-family:'Trebuchet MS'; color:#666666; height: 5.8em !important;}
#nl-pie-bordertop {background:url(/imagenes/portal/border_top2.gif) top left no-repeat; height:1.25em; clear:both;}
#nl-pie-borderbottom {background:url(/imagenes/portal/border_bottom.gif) top left no-repeat; height:0.42em;}
#navegacion-pie	{position: relative; top: -2.25em; right: 0.01em; float:right; height:25px; width:864px; background:url(/imagenes/portal/menu_back3.gif) top left no-repeat; font-family:Verdana, Arial, Helvetica, sans-serif;}
	#navegacion-pie	ul.menu {list-style-type:none;}
	#navegacion-pie	ul.menu li {float:left; margin:0 0.52em;}
	#navegacion-pie	ul.menu li a {text-decoration:none; color:#FFFFFF; background-color:#CC0000; font-weight:bold; font-size:1em;}
	#navegacion-pie	ul.menu li a:link {text-decoration:none;}
	#navegacion-pie	ul.menu li a:active {text-decoration:none;}
	#navegacion-pie	ul.menu li a:hover {text-decoration:underline;}

#escudo {float:left; margin:-1em 0 0 2.33em; padding:0; display: inline;}
#descripcion {position: relative; top: -1.42em; float:right; width:87%; line-height:1.25em; border-bottom:1px solid #EEEEEE; padding:0 0 0.25em 0; margin:0 0 0.83em 0;}
#direccion {float:left; width:70%;}
#direccion strong {color:#333333;}
#www-nl-gob-mx {float:right; width:15%; text-align:right; margin-right:0.67em; font-weight:bold;}
#www-nl-gob-mx a {text-decoration:none; color:#CC0000;}
#www-nl-gob-mx a:hover {text-decoration:underline;}
#contacto {float:right; width:87%; position: relative; top: -1.42em;}

#contacto ul {list-style-type: none; margin: 0; padding: 0;}
#contacto ul li {float: left; margin: 0 0.37em 0 0; padding: 0;}
#contacto ul li a {text-decoration: none; color: #666666;}
#contacto ul li a:link {text-decoration:none;}
#contacto ul li a:active {text-decoration:none;}
#contacto ul li a:hover {text-decoration: underline;}

.space {height:0.2em; clear:both;}
.left {float:left;}
.right {float:right;}
.clear-both {clear:both;}
.clear-right {clear:right;}
.clear-left {clear:left;}
.cero {padding:0 !important; margin:0 !important;}
.hide {display:none;}
.block {display:block;}
.btop {padding-top: 1em;}

.clear, .seccion {display:inline-block;}   
.clear:after, .seccion:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
* html .clear, * html .seccion {height:1%;}
.clear, .seccion {display:block;}

/* slider */
#slider {padding: 5px 0 5px 0; margin-bottom: 1.4em; border: 1px solid #CCC;}
#in-slider {margin: 0;padding: 0;}
#campanias {margin: 0 auto;padding: 0;float: left;text-align: center; width: 900px !important;}
#slider-left, #slider-right {float: left;width: 40px;}
#slider-left img, #slider-right img {margin-top: 20px;}
#slider-left {height: 50px; line-height: 50px; text-align: center;}
#slider-right {height: 50px; float: right !important; text-align: center;}
#slider-left-img {margin: 0 auto;}
#campanias span {width: 170px;width: 100%;margin: 0;padding: 0;text-align: center;}
#campanias img {margin: 0 !important;padding: 0 !important;}
div.element {position:absolute;left:-999em;}
.destacado-campania {background-color: #E2E2E2 !important; width:215px !important;}
.sl-img {float: left; width: 33%; margin-top:5px;}
.sl-desc {font-size: 1em; font-family: "Tahoma"; float: left; width: 65%; text-align: left; line-height: 1.25em; margin-top:5px; }
.sl-desc a, .sl-desc a:hover {color: #333;}
h2.esta-semana {position:relative; top: -0.93em; left: 0.25em; color:#8A8A8A; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1em; margin:0 !important; padding:0 0 0 0.33em; letter-spacing:0.17em; background:url(/pics/css/design/nuevoleon_images/fondo_blanco.gif); width:8.5em;}
.sl-desc a {text-decoration: none;}
.sl-desc a:hover {text-decoration: none; color: #CC0000;}
.sl-desc a span.titulo		 {text-decoration: underline; font-weight: bold;}

.fontInferior 
{
	font-size:75%; font-family:sans-serif; overflow:visible; background-color:#F7F7F7;	
 }
