.modalCaption 
{
	background-color:#333333;
	color:#ffffdd;
	}

.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup
{
	background-color: #ffffdd;
	width: 250px;
	border-right: #ff0000 3px solid;
	padding-right: 1px;
	border-top: #ff0000 3px solid;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: #ff0000 3px solid;
	padding-top: 1px;
	border-bottom: #ff0000 3px solid;
}
