.balloonstyle{
position:absolute;
top: 10px;
left: -10px;
padding: 50px;
visibility: hidden;
border:1px solid black;
font:normal 12px Verdana;
font-weight: bold;
color: white;
line-height: 18px;
z-index: 100;
background: url("../images/fondotooltip.jpg") repeat-x;
background-color: #FA9800;
width: 400px;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5);
}

#arrowhead{
z-index: 99;
position:absolute;
top: -500px;
left: 0;
visibility: hidden;
}