<%@ Page Language="C#" MasterPageFile="~/MasterPages/MainBasicMenu.Master" AutoEventWireup="true" CodeBehind="DeleteUser.aspx.cs" Inherits="EstadisticasEducativas.Seguridad.DeleteUser" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMainMaster" runat="server">
    username<asp:TextBox ID="txtUsername" runat="server">
    </asp:TextBox>
    <asp:Button ID="btnDelete" runat="server" OnClick="btnDelete_Click" />
</asp:Content>
