﻿body, td {
	font-size:12px;
	font-variant:normal;
	font-weight:normal;
	word-spacing:normal;
	letter-spacing:	normal;
	/*text-transform: none;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	}
body { background-color:#fff; color:#333;}

/* clases para texto */
.bold { font-weight: bold; }
.italic { font-style: italic; }

.textonly{
/*display:none!important;*/
}

/* definicion de vinculos o ligas internas 
a:link		{ text-decoration:none; color:#880000; background-color:#FFFFFF;}	
a:visited	{ text-decoration:none; color:#aa0000; background-color:#FFFFFF;}
a:active	{ text-decoration:underline; color:#880000; background-color:#FFFFFF;}	
a:hover		{ text-decoration:underline; color:#880000; background-color:#FFFFFF;}*/

/* definicion de vinculos o ligas internas */
a:link		{ text-decoration:none; color:#880000;}	
a:visited	{ text-decoration:none; color:#aa0000;}
a:active	{ text-decoration:underline; color:#880000;}	
a:hover		{ text-decoration:underline; color:#880000;}

/* definicion ligas caja clima */
.bgclima { background-image:url('/pics/principal/head_back_der.gif'); background-repeat:no-repeat;} 
.tlclima { font-size:90%; text-decoration:none; font-weight:700; color:#dd4400; background-color:#eaeaea;}
.txclima { font-size:75%; font-weight:normal; text-decoration:none;}
a.clima:link, a.clima:visited { font-size:85%; font-weight:normal; text-decoration:none; color:#cc3300; background-color:#eaeaea;}
a.clima:active, a.clima:hover { font-size:85%; font-weight:normal; text-decoration:underline; color:#cc3300; background-color:#eaeaea;}

/* definicion de vinculos o ligas para menu horizontal */
#nav { background-color:#cc0000; color:#fff; padding:0px 0px 0px 0px; margin:0px; height:30px; width:100%; /*line-height:120%*/}
.nivel_1 { padding:0px 6px 0px 2px; height:30px;}
a.nav:link, a.nav:visited { font-family:Arial, Helvetica, sans-serif; font-size:100%; text-decoration:none; font-weight:700; color:#ffeeee; background-color:#cc0000; padding:0px 2px 6px 4px;}
a.nav:active, a.nav:hover { text-decoration:underline;}
#subnav { background-color:#fff; color:#444; padding:3px 0px 6px 0px; margin:0px; height:24px; width:99.8%; line-height:120%; border-bottom:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.nivel_2 { padding:8px 8px 4px 6px; }
a.suboption:link, a.suboption:visited { font-family:Arial, Helvetica, sans-serif; font-size:120%; text-decoration:none; font-weight:700; color:#444; background-color:#fff; padding:2px;}
a.suboption:active, a.suboption:hover { text-decoration:underline;}

/* definicion para buscador */
.buscador { float:right; height:24px; margin:5px 12px 3px 3px;}
.buscador .caja { margin-right:3px; border:0px; width:116px; height:19px; background:url('/pics/principal/fnd_form_buscador.gif') no-repeat left top; padding:3px 2px 0px 2px; float:left;}
.buscador .go { margin-right:3px; border:0px; width:46px; height:19px; float:left;}

/* definicion para el contenido de pprincipal */
#contenido { width:100%; height:100%; padding:0px 0px 0px 0px; border-left:1px solid #ccc; border-right:1px solid #ccc;}
td.estructura_col_izq { width:440px; padding:1px 35px 8px 2px; }
td.estructura_col_izq_200 { width:200px; padding:1px 20px 8px 2px;}
td.estructura_col_der { width:335px; padding:1px 35px 10px 2px;}
td.estructura_col_der_80 { width:80px;}
td.estructura_col_der_210 { width:98%;}

.bgtitulos_400 { background-image:url('/pics/principal/contenido_paleta_400.gif'); background-repeat:no-repeat;} 
.bgtitulos_300 { background-image:url('/pics/principal/contenido_paleta_300.gif'); background-repeat:no-repeat;} 
.bgtitulos_200 { background-image:url('/pics/principal/contenido_paleta_190.gif'); background-repeat:no-repeat;} 

a.optionhome:link, a.optionhome:visited { font-size:110%; text-decoration:none; font-weight:normal; color:#333; background-color:#fff; padding:2px; line-height:130%;}
a.optionhome:active, a.optionhome:hover { text-decoration:underline; color:#bb0000; background-color:#fff;}

.highlite { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:110%; text-decoration:none; font-weight:700; color:#dd4400; background-color:#fff;}
a.highlite:link, a.highlite:visited { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:110%; text-decoration:none; font-weight:700; color:#dd4400; background-color:#fff;}
a.highlite:active, a.highlite:hover { text-decoration:underline; color:#dd4400; background-color:#fff;}

#especiales { width:100%}

/*columna auxiliar derecha */
#columnaderecha { width:100%; height:110%; padding:2px 0px 1px 0px; margin:0px; background-color:#eee; color:#ccc;}
.botones { padding:5px 0px 4px 0px;} /* modificado 23 de julio para cerrar el espacio entre botones */

/* particularidades */
img { border:0px; }

.titulopagina {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:250%; font-weight:normal; color:#aa0000; background-color:#fff;}

a.breadcrumbslink:link, a.breadcrumbslink:visited  { font-size:85%; text-decoration:none; font-weight:normal; color:#880000; background-color:#f9f9f9; }
a.breadcrumbslink:active, a.breadcrumbslink:hover { font-size:85%; text-decoration:underline; font-weight:normal; color:#aa0000; background-color:#f9f9f9; }
.breadcrumbs { font-size:65%; color:#880000; background-color:#fff; }

a.promo:link, a.promo:visited { font-size:90%; font-weight:normal; text-decoration:none; color:#cc0000; background-color:#eeeeee;}
a.promo:active, a.promo:hover { font-size:90%; font-weight:normal; text-decoration:underline; color:#cc0000; background-color:#eeeeee;}

/* formato de lista con vinetas de imagen */
ul { list-style-type:square;}
ul ul { list-style-type:disc;}
ul ul ul { list-style-type:none;}
ul.bullet { list-style-image:url('/pics/principal/bullet_rojo.gif'); list-style-position:outside;}
ul.nobullet { list-style-type:none;}
li { margin-left:1px; line-height: 1.6em; vertical-align:baseline;}

/* 	INICIA:TITULOS
	Tamano de fuente, tipo de fuente, estilo de letra y espaciados para titulos */
/* 	Título h1, debe ser siempre el primer nivel de títulos dentro de una página, 
	se acompaña de los niveles 2 a 3, que están alineados totalmente a la izquierda */
h1, h2, h3 { text-transform:none; margin-top:.46em; margin-bottom:.33em; margin-left:0;}
h1	{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:1.89em; font-weight:600; font-style:normal; text-decoration:none; line-height:1em;}	
h2	{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:1.56em; font-weight:700; font-style:normal; text-decoration:none;}			
h3	{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:1.30em; font-weight:600; font-style:normal; text-decoration:none;}		
/* 	Títulos complementarios h4 a h6, van indentados a la altura de los párrafos,
	son títulos de contexto para páginas con mucho detalle */
h4, h5, h6 { text-transform:none; margin-top:.46em; margin-bottom:.33em; margin-left:3%;}
h4	{ font-family:Geneva, Arial, Helvetica, sans-serif; font-size:1.46em; font-weight:600; font-style:normal; text-decoration:none; }	
h5	{ font-family:Geneva, Arial, Helvetica, sans-serif; font-size:1.33em; font-weight:500; font-style:normal; text-decoration:none;}	
h6	{ font-family:Georgia, "Times New Roman", Times, serif; font-size:1.33em; font-weight:400; font-style:italic; text-decoration:none;}


/* estilos originales portal
@import url("/pics/principal/nl_estilos_anteriores.css");*/
.ts { font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333; background-color:#fff;}
.cuadro { border-collapse:collapse;  border:1px solid #ccc;}
a.t1:link, a.t1:visited { font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#666; background-color:#fff; text-decoration:underline;}
a.t1:active, a.t1:hover { text-decoration:underline;}

a.t2:link, a.t2:active{ font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#333; background-color:#fff; text-decoration:underline;}
a.t2:visited { font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#7E598B; background-color:#fff; text-decoration:underline;}
a.t2:active { font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#333; background-color:#fff; text-decoration:underline;}
a.t2:hover { font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#666; background-color:#fff; text-decoration:underline;}

a.t3:link, a.t3:visited, a.t3:active { font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; color:#000099; background-color:#DBDBE7; text-decoration:underline;}
a.t3:hover { font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; color:#666; background-color:#DBDBE7; text-decoration:underline;}


/* 2 COLUMNAS */
/* COL 1 */ 
#nl-m2-uno { float: left; width: 690px; }
#nl-m2-uno #nl-m21-margen { margin: 10px 10px 10px 5px; padding-left: 0;}
#nl-m21-content { margin: 0; padding: 0 10px 0 10px; }
/* estilo del parrafo para programas */ 
#nl-m2-uno h1 { margin: 0; padding: 0; }


/* COL 2 */ 
#nl-m2-dos { float: left; width: 300px; }
#nl-m2-dos #nl-m22-margen { margin: 10px 15px 10px 15px; }


/* INICIO ESTILO DE CAJAS CON BORDE REDONDO (roja, naranja, azul y gris) */
.redbox-tl, .redbox-tr, .redbox-bl, .redbox-br { background-image: url('/pics/css/img_cajas/redbox.gif'); height: 9px; font-size: 2px; }
.orangebox-tl, .orangebox-tr, .orangebox-bl, .orangebox-br { background-image: url('/pics/css/img_cajas/orangebox.gif'); height: 9px; font-size: 2px; }
.bluebox-tl, .bluebox-tr, .bluebox-bl, .bluebox-br { background-image: url('/pics/css/img_cajas/bluebox.gif'); height: 9px; font-size: 2px; }
.graybox-tl, .graybox-tr, .graybox-bl, .graybox-br { background-image: url('/pics/css/img_cajas/graybox.gif'); height: 9px; font-size: 2px; }

.redbox-tl, .redbox-bl, .orangebox-tl, .orangebox-bl, .bluebox-tl, .bluebox-bl, .graybox-tl, .graybox-bl { margin-right: 9px; }
.redbox-tr, .redbox-br, .orangebox-tr, .orangebox-br, .bluebox-tr, .bluebox-br, .graybox-tr, .graybox-br { margin-left: 9px; margin-top: -9px; }
.redbox-tr, .orangebox-tr, .bluebox-tr, .graybox-tr { background-position: 100% 0; }
.redbox-bl, .orangebox-bl, .bluebox-bl, .graybox-bl { background-position: 0 -9px; }
.redbox-br, .orangebox-br, .bluebox-br, .graybox-br { background-position: 100% -9px; margin-bottom: 5px; }

.redbox-content { border-left: 1px solid #FFC9BF; border-right: 1px solid #FFC9BF; }
.orangebox-content { border-left: 1px solid #FFBE8E; border-right: 1px solid #FFBE8E; }
.bluebox-content { border-left: 1px solid #9FDFDF; border-right: 1px solid #9FDFDF; }
.graybox-content { border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; }

/* margen de los titulos  para las cajas*/ 
.redbox-content h5, .orangebox-content h5, .bluebox-content h5, .graybox-content h5 { margin: 0 0 6px 5px; padding-left: 0; font-family: "Arial Narrow", Helvetica, sans-serif; font-size: 1.4em; padding-top: .1em; }
/* titulos con iconos */ 
.lonuevo { background: transparent url('/pics/common/ico_nuevo.png') no-repeat left; padding-left: 27px; }
.lomasvisitado { background: transparent url('/pics/common/ico_visitado.png') no-repeat left; padding-left: 27px; }
.faq { background: transparent url('/pics/common/ico_faq.png') no-repeat left; padding-left: 27px; }
/* estilo para el parrafo dentro de las cajas */ 
.redbox-content p, .orangebox-content p, .bluebox-content p, .graybox-content p { margin: 15px 5px 0 10px; padding-left: 18px; padding-right: 5px; }

/* listas con bullets (naranja, azul, roja y enlaces externos) */
ul.lista_naranja { list-style-type: none; }
.lista_naranja li { background: transparent url('/pics/common/bullet_nuevo.png') no-repeat top left; margin-left: 18px; margin-top: 7px; padding-left: 18px; }

ul.lista_celeste { list-style-type: none; }
.lista_celeste li { background: transparent url('/pics/common/bullet_visitado.png') no-repeat top left; margin-left: 18px; margin-top: 7px; padding-left: 18px; }
.lista_celeste li a { text-decoration: none; }
.lista_celeste li a:hover { text-decoration: underline; }

ul.lista_roja { list-style-type: none; }
.lista_roja li { background: transparent url('/pics/common/bullet_red2.png') no-repeat top left; margin-top: 5px; padding-left: 18px; }

ul.lista_azul { list-style-type: none; }
.lista_azul li { background: transparent url('/pics/common/bullet_discapacidad.png') no-repeat top left; margin-top: 5px; padding-left: 18px; }

ul.lista_links { list-style-type: none; }
.lista_links li { background: transparent url('/pics/common/bullet_externo.png') no-repeat top left; margin-left: 18px; margin-top: 7px; padding-left: 18px; }

img.lonuevo, img.lomasvisitado, img.pregunta { width: 18px; height: 18px; margin: 0 0 0 4px; padding: 0; vertical-align: middle; }


/* FIN ESTILO DE CAJAS CON BORDE REDONDO */

/* INICIO FOTER */
#nl-footer { border-top: 3px #CC0000 solid; margin: 0 auto 0 auto; position: relative; text-align: left; width: 990px; }
#nl-footer-menu { float: left; height: 32px; width: 100%; }
#nl-footer-menu div { padding: 0 0 0 20px; margin: 0; }
#nl-footer-menu-list { list-style-type: none; margin: 0 0 0 40px; padding: 0; }
#nl-footer-menu-list li { float: left; font-family: Verdana, Arial, Helvetica, sans-serif !important; font-size: .92em; font-weight: bold; padding: 2px 5px 2px 6px; }
#nl-footer-menu-list li a{ display: block; text-decoration: none; }
#nl-footer-menu-list li a:hover { text-decoration: underline; }

#nl-footer-direccion { float: left; width: 100%; }
#nl-footer-logo { float: left; width: 60px; text-align: right; }
#nl-footer-logo div { }
#nl-footer-datos { border-bottom-width: 1px; border-bottom-style: solid; float: left; width: 930px; text-align: left; }
#nl-footer-datos div { padding: 0 0 8px 7px; font-size: .92em; }
#nl-footer-datos strong { font-weight: bold; } 
#nl-footer-datos span { text-align: right; margin-left: 60%; font-weight: bold; }
#nl-footer-datos span a:link { text-decoration: none; }
#nl-footer-datos span a:visited { text-decoration: none; }
#nl-footer-datos span a:hover { text-decoration: underline; }

#nl-footer-linea3 { float: left; padding: 15px 0 0 0; width: 100%; font-size: .82em; }
#nl-footer-contacto { float: left; width: 60%; text-align: left; }
#nl-footer-contacto div { margin-left: 20px; }
#nl-footer-contacto-list { list-style-type: none; width: 100%; margin: 0 0 0 40px; padding: 0; }
#nl-footer-contacto-list li { float: left; font-family: Verdana, Arial, Helvetica, sans-serif !important; font-size: 1.1em; font-weight: normal; padding: 2px 5px 2px 6px; }
#nl-footer-contacto-list li a { display: block; text-decoration: none; }
#nl-footer-contacto-list li a:hover { text-decoration: underline; }
#nl-footer-accesibilidad { float: left; width: 40%; text-align: right; }
#nl-footer-accesibilidad div { float: right; }
#nl-footer-accesibilidad-list { list-style-type: none; width: 100%; margin: 0 0 0 40px; padding: 0; }
#nl-footer-accesibilidad-list li { float: left; font-family: Verdana, Arial, Helvetica, sans-serif !important; font-size: .82em; font-weight: bold; padding: 2px 5px 2px 5px; }
#nl-footer-accesibilidad-list li a{ display: block; text-decoration: none; }
#nl-footer-accesibilidad-list li a:hover { text-decoration: underline; }


#nl-footer { color: #666666; }
#nl-footer-datos { border-color: #EFEFEF; }

#nl-footer-menu-list li a:link { color: #666666; }
#nl-footer-menu-list li a:visited { color: #666666; }
#nl-footer-menu-list li a:hover { color: #666666; }

#nl-footer-datos span a:link { color: #CC0000; }
#nl-footer-datos span a:visited { color: #CC0000; }
#nl-footer-datos span a:hover { color: #CC0000; }

#nl-footer-contacto-list li a:link { color: #666666; }
#nl-footer-contacto-list li a:visited { color: #666666; }
#nl-footer-contacto-list li a:hover { color: #666666; }
#nl-footer-contacto-list li a span { color: #CC0000; }
#nl-footer-contacto-list #mailto { color: #CC0000 !important; }
/* FIN FOOTER*/

/* jorge */
.lblgris
{
	color: #333333;
	font-family: Arial, Verdana;
	font-weight: bold;
	font-size: 12px;
}

.lblRojo
{
	color: #5b5b5b;
	font-family: Arial, Verdana;
	font-weight: bold;
	font-size: 12px;
}

.lblGrisTit
{
	color: #000; /*#666666;*/
	font-family: Arial, Verdana;
	font-weight: bold;
	font-size: 12px;
}

.lblGrisTit2
{
	color: #666666;
	font-family: Arial, Verdana;
	font-size: 12px;
}

.lblNegro
{
	color: #000000;
	font-family: Arial, Verdana;
	font-size: 12px;
}

.msg
{
	font-weight: bold;
	font-size: 13px;
	color: #990000;
	font-family: Arial, Verdana;
}

.botones2
{
	padding: 5px 0px 4px 0px;
	background-color: #dcdcdc;
}




.buttons {padding: 5px;	margin: 2px;font: normal 10px verdana;width: 130px;}
.button, .selectedButton, .buttonB, .button3 {background: #A6A8CC;color: navy;border: 2px solid navy;text-align:center;vertical-align:middle;font: normal 10px verdana;padding: 2px;cursor: pointer;margin: 3px;}
.button3 {margin: 0px;}
.selectedButton {border: 2px solid #008000;background: #80FF80;	color: #008000;}
.buttonB {border: 2px solid #ECB052;background: #F6D84C;}
.button:hover, .buttonB:hover, .button3:hover {background: #EBB94D;color: red;border: 2px solid red;}


/*Modal Popup*/
.modalBackgroundGeneral {
    background-color:Gray;
    filter:alpha(opacity=70);
    opacity:0.7;

}

.modalPopupGeneral {
background-color:transparent;
border:0px;
height:300px;
width:670px; 
}


.modalPopupGeneral .popupCloseGeneral {
	position:absolute; right:-15px; top:-11px;
	cursor:pointer;
	height:35px;
	width:35px;
}
/********************************/
.divResultado
{
	word-wrap: break-word;
	max-width:900px;
	margin: 1px auto 1px auto;
	width: 80%;
	clip:auto;
	
}
.banOfi
{
	position:absolute;
	left:1px;
	top:1px;
}