﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/DesignPopup.Master" AutoEventWireup="true" CodeBehind="Exportdbf.aspx.cs" Inherits="EstadisticasEducativas._911.Exportdbf" Title="Página sin título" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphMainMaster" runat="server">

<table>
<tr>
<td>
HOLA MUNDO!
</td>
</tr>
</table>
</asp:Content>
